<button (click)="openModal(myModal)" class="btn btn-primary">
  New
</button>
<ng-template #myModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalAttributes.title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="close"
      (click)="modalRef.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-group">
      <div class="form-group">
        <label for="nameInput">Name:</label>
        <input
          type="text"
          id="nameInput"
          placeholder="First name"
          required
          formControlName="name"
          name="name"
        />
        <div
          *ngIf="name.errors && (name.dirty || name.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="name.errors.required">
            Required
          </div>
          <div *ngIf="name.errors.minlength">
            At least 3 characters
          </div>
          <div *ngIf="name.errors.maxlength">
            Not more than 15 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="surnameInput">Surname:</label>
        <input
          type="text"
          id="surnameInput"
          placeholder="Surname"
          required
          formControlName="surname"
          name="surname"
        />
        <div
          *ngIf="surname.errors && (surname.dirty || surname.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="surname.errors.required">
            Required
          </div>
          <div *ngIf="surname.errors.minlength">
            At least 3 characters
          </div>
          <div *ngIf="surname.errors.maxlength">
            Not more than 15 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="emailInput">Email:</label>
        <input
          type="email"
          id="emailInput"
          placeholder="email@example.com"
          required
          formControlName="mail"
          name="mail"
        />
        <div
          *ngIf="mail.errors && (mail.dirty || mail.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="mail.errors.required">
            Required
          </div>
          <div *ngIf="mail.errors.pattern">
            Email is wrong!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ageInput">Age:</label>
        <input
          type="number"
          id="ageInput"
          placeholder="0"
          formControlName="age"
          name="age"
        />
        <div
          *ngIf="age.errors && (age.dirty || age.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="age.errors.required">
            Required!
          </div>
          <div *ngIf="age.errors.minAge">
            You are too young! Yor age less than 16!!
          </div>
          <div *ngIf="age.errors.maxAge">
            You are too old! Yor age greater than 100!!
          </div>
          <div *ngIf="age.errors.isInteger">
            Number should be ineger!!
          </div>
        </div>
      </div>
      <div class="field">
        <button
          type="submit"
          [ngClass]="['btn', modalAttributes.btnClass]"
          [disabled]="userForm.invalid"
        >
          {{ modalAttributes.btnCaption }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
